<div class="container">
    <div class="text">
        <h3>Fale Conosco</h3>
    </div>
    <div class="jumbotron">
        <p>Queremos ouvir o que você tem a dizer</p>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/images/Envelope-icon24.png" />
            </span>
            <h5><email endereco="hericsilvaho@gmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="~/images/phone-app-icon.png" />
            </span>
            <h5>(88) 9-9267-0549</h5>
            <br />
            <span>
                <img src="~/images/Home-iconred.png" />
            </span>
            <h5>Rua Antônio Pereira de Matos 16 - 63800-000 - Quixeramobim</h5>
        </p>
    </div>
</div>